@charset "utf-8";
@font-face {
    font-family: CampaignFont;
    src: url(Antique_Olive_BQ_Regular.otf);
}

div#content p:nth-child(3) {
    margin: 0px;
    padding-top: 0px;
}

nav ul li:nth-child(3) div{
    background-image: linear-gradient(to top, rgb(255, 231, 0), hsla(180,20%,75%,1));
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(0, 0, 0, 0);
}

@media only screen and (min-width: 721px) {
    html {
        background: url(depot\ trail.jpg) no-repeat center center;
        background-size: cover;
    }
    
    div#content {
        height: 550px;
    }
    
    div#content h1 {
        margin: 0px;
        font-size: 75px;
        text-align: center;
    }

    div#content h2 {
        margin: 0px;
        font-size: 45px;
        padding-left: 50px;
    }

    div#content p {
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }
}

@media only screen and (max-width: 720px) {
    div#content h1 {
        margin: 0px;
        padding-top: 20px;
        font-size: 50px;
        text-align: center;
    }

    div#content h2 {
        margin: 0px;
        font-size: 30px;
    }

    div#content p {
        margin-top: 0px;
        font-size: 20px;
    }
}