@charset "utf-8";
@font-face {
    font-family: CampaignFont;
    src: url(Antique_Olive_BQ_Regular.otf);
}

html {
    font-family: CampaignFont;
}

div#facebook-post {
    display: none;
}

div#donate {
    display: none;
}

div#content-container {
    display: none;
}

div#CustomDonationsForm {
    border-color:rgb(0, 139, 149);
}

div#CustomDonationsForm h2 {
    margin: 0px;
    color: hsla(180,50%,20%,1);
}

p.cd-powered-by {
    color: rgb(0, 139, 149);
}

@media only screen and (min-width: 721px) {

    /*  BUTTON HEADERS  */
    div#CustomDonationsForm h2 {
        font-size: 35px;
        padding-left: 3%;
    }
    
    /*  BUTTONS */
    div#CustomDonationsForm {
        width: 75%;
        margin:0px;
        margin-left: auto;
        margin-right: auto;
        color: hsla(180,50%,20%,1);
        background-color: rgb(0, 139, 149);
    }

    div#cd-giving-form-wrapper {
        width: 96%;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 50px;
        background-color: hsla(180,20%,75%,1);
    }

    div#CustomDonationsForm div#cd-set-donation-amt button {
        float: left;
        padding: 20px;
        padding-left: 5%;
        padding-right: 5%;
        font-family: CampaignFont;
        font-size: 20px;
        border: 5px solid rgb(0, 139, 149);
        background: hsla(180,20%,75%,1);
        color: rgb(0,139,149);
        transition: ease-out 0.2s;
    }

    div#CustomDonationsForm div#cd-set-donation-amt button:hover {
        background: rgb(0,139,149);
        color: hsla(180,20%,75%,1);
    }

    div#CustomDonationsForm div#cd-set-donation-amt button:focus {
        background: rgb(0,139,149);
        color: rgb(255,231,0);
    }

    div#CustomDonationsForm div#cd-set-donation-amt button:last-of-type::after {
        clear: both;
        float: none;
    }

    /*  CUSTOM DONATION INPUT   */
    div#cd-gift-amt-div::before {
        clear: both;
        float: none;
    }

    div#cd-gift-amt-div{
        clear: both;
        float: none;
        /* color: rgb(0,34,68); */
        color: hsla(180,50%,20%,1);
    }

    div#cd-gift-amt-div input {
        float: left;
    }

    div.cd-donation-currency {
        border: none;
        font-size: 35px;
        width: 20px;
        padding: 0px;
        margin: 0px;
        margin-right: 0px;
    }

    div.cd-donation-currency-input {
        height:20px;
    }

    div.cd-donation-currency-input input {
        height:30px;
    }

    /*  BOTTOM INFO */
    div.cd-field-wrap span {
        font-size: 30px;
        color: hsla(180,50%,20%,1);
    }

    /*  REVIEW AND PAY BUTTON   */
    button#cd-review-submit {
        background-color: rgb(0, 139, 149);
        border-color: rgb(0, 139, 149);
        color: hsla(180,20%,75%,1);
    }

    /*  SECOND PAGE */
    div.cd-float-label2 label {
        font-size: 30px;
    }

    div#CustomDonationsForm table {
        font-size: 30px;
    }
}

@media only screen and (max-width: 720px) {
    div#CustomDonationsForm {
        width: 100%;
        background-color: rgb(0, 139, 149);
    }

    div#cd-giving-form-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: hsla(180,20%,75%,1);
        padding: 10px;
    }

    /*  BUTTONS */
    div#CustomDonationsForm div#cd-set-donation-amt button {
        float: left;
        padding: 20px;
        padding-left: 5%;
        padding-right: 5%;
        font-family: CampaignFont;
        font-size: 20px;
        border: 5px solid rgb(0, 139, 149);
        background: hsla(180,20%,75%,1);
        color: rgb(0,139,149);
        transition: ease-out 0.2s;
    }

    div#CustomDonationsForm div#cd-set-donation-amt button:hover {
        background: rgb(0,139,149);
        color: hsla(180,20%,75%,1);
    }

    div#CustomDonationsForm div#cd-set-donation-amt button:focus {
        background: rgb(0,139,149);
        color: rgb(255,231,0);
    }

    /*  REVIEW AND PAY BUTTON   */
    button#cd-review-submit {
        background-color: rgb(0, 139, 149);
        border-color: rgb(0, 139, 149);
        color: hsla(180,20%,75%,1);
    }
}