@charset "utf-8";
@font-face {
    font-family: CampaignFont;
    src: url(Antique_Olive_BQ_Regular.otf);
}

/*
    TEAL:           rgb(0,139,149);
    NAVY:           rgb(0,34,68);
    LEMON YELLOW:   rgb(250,231,0);
*/

/* CONTENT DIV */
div#content-container {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    background-color: rgb(0,139,149);
}

div#content {
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:75px;
    padding-bottom: 25px;
    text-align: justify;
    background-color: hsla(180,20%,75%,1);
    color: hsla(180,50%,20%,1);
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

div#content h2 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: 35px;
    font-size: 45px;
}

div#content p {
    margin: 0px;
    padding: 0px;
    border: 0px;

    font-size: 20px;
    margin-bottom: 20px;
}