@charset "utf-8";
@font-face {
    font-family: CampaignFont;
    src: url(Antique_Olive_BQ_Regular.otf);
}

/*
    TEAL:           rgb(0,139,149);
    NAVY:           rgb(0,34,68);
    LEMON YELLOW:   rgb(250,231,0);
*/

html {
    background-color: rgb(0,34,68);
    margin:0px;
    border:0px;
    padding:0px;
    font-family: CampaignFont;
}

body {
    margin: 0px;
    border: 0px;
    color: white;
}

/*      PAGE HEADER RELATED
    All bellow relates to the
    image and 
    "Susan Wolff
        is running for
    Great Falls City Commissioner" */
figure {
    position: relative;
    overflow: hidden;
}

figure figcaption#page-header {
    margin: 0px;
    border: 0px;
    padding: 10px;
    padding-left:70px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    position: absolute;
    color: hsla(0, 0%, 100%, 0.85);
    background: linear-gradient(to top, hsla(180,50%,30%,0.75), hsla(180, 50%, 30%, 0));
    transform: translate(0px, 0px);
    bottom: 0px;
    left: 0px;
    right: 0px;

    font-family: CampaignFont;
    font-weight: 500;
    text-shadow: 2px 2px hsla(180,50%,30%,0.75);

    transition: ease-out 0.35s;
    overflow: hidden;
}

figure figcaption#page-header:hover {
    padding-bottom:40px;
    text-shadow: 7px 5px 10px hsla(180,50%,30%,0.75);
    color: rgb(255, 231, 0);
}

figure figcaption h1, figure figcaption p {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

figure figcaption p {
    padding-left: 35px;
    font-size: 25px;
}

figure figcaption img {
    width: 432px;
    height: 270px;
}

figure figcaption h1#susan-wolff {
    font-size: 70px;
    display: block;
    bottom: 0px;
}

figure#top-of-page {
    margin: 0px;
    border-width: 0px;
}

/*  Not appearing in git? I declare shenanigans!    */
figure#top-of-page > img {
    display: block;
    width: 100%;
}

/* NAV BAR CONTENT  */
nav, nav ul, nav ul li {
    margin: 0px;
    border: 0px;
    padding:0px;
}

div#nav {
    width: 100%;
    background: rgb(0,139,149);
    height: 50px;
    z-index: -1;
}

nav {
    width: 100%;
    background:rgb(0,139,149);
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    list-style-type:none;
    width: 72.5%;
}

nav ul li {
    position: relative;
    float: left;
    width: 25%;
    text-align:center;
    background:rgb(0,139,149);
    color: hsla(180,20%,75%,1);
    font-size: 35px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: ease-out 0.35s;
}

nav ul li div {
    margin-left: auto;
    margin-right:auto;
    display: block;
    height: 100%;
    width:100%;
    background-color:rgb(0,139,149);
    transition: ease-out 0.35s;
    transform: scaleX(0.995);
}

nav ul li:hover {
    padding-bottom: 10px;
}

nav ul li:hover div {
    /* transform: scaleX(0.98); */
    padding-top:5px;
    color: rgb(255, 231, 0);
}

/*  FACEBOOK POST   */
div#facebook-post {
    float: right;
    border: solid 10px hsla(180,50%,20%,1);
    margin-left: 20px;
    margin-bottom: 10px;
}

div#facebook-post iframe {
    margin: 0px;
}

/* CONTENT DIV */
div#content-container {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    background-color: rgb(0,139,149);
}

div#content {
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:75px;
    padding-bottom: 25px;
    text-align: justify;
    background-color: hsla(180,20%,75%,1);
    color: hsla(180,50%,20%,1);
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

div#content h2 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: 35px;
    font-size: 45px;
}

div#content p {
    margin: 0px;
    padding: 0px;
    border: 0px;

    font-size: 20px;
    margin-bottom: 20px;
}

/*  DONATE BUTTON   */
div#donate {
    position:fixed;
    padding: 10px;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    background: rgb(0,139,149);
    padding-right:75px;
    bottom: 50px;
    right: -65px;
    transition: ease-out 0.35s;
}

div#donate p {
    display: relative;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding: 7px;
    background: rgb(0,139,149);
    font-size: 35px;
    font-weight: 900;
    color: hsla(180,20%,75%,1);
    transition: ease-out 0.35s;
}

div#donate:hover {
    bottom: 50px;
    right: 0px;
}

div#donate:hover p {
    color: rgb(255, 231, 0);
}

/*  FOOTER  */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgb(0,139,149);
}

footer p {
    margin: 0px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 5px;
    padding-left: 5%;
    color: hsla(180,20%,75%,1);
    border: 0px;
}